
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <table>
          <tr>
            <td>
              <label for="textarea">{{ form.full_name.label }}</label>
              <div>{{ form.full_name(size=40, class="textarea", id="bodyfield") }}</div>
            </td>
            <td>
            <td valign="baseline">
              {% for error in form.full_name.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </td>
            <td>
              <label for="textarea">{{ form.username.label }}</label>
              <div>{{ form.username(size=40, class="textarea", id="bodyfield") }}</div>
            </td>
            <td>
            <td valign="baseline">
              {% for error in form.username.errors %}
              <span style="color: red; id="perror"">[{{ error }}]</span>
              {% endfor %}
            </td>
          </tr>
        </table>


        <label for="textarea">{{ form.full_name.label }}</label>
        <div>{{ form.full_name(size=40, class="textarea", id="bodyfield") }}</div>
        <p id="perror">
          {% for error in form.full_name.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <label for="textarea">{{ form.username.label }}</label>
        <div>{{ form.username(size=40, class="textarea", id="bodyfield") }}</div>
        <p id="perror">
          {% for error in form.username.errors %}
          <span style="color: red; id="perror"">[{{ error }}]</span>
          {% endfor %}
        </p>
        <label for="textarea">{{ form.email.label }}</label>
        <div>{{ form.email(size=40, class="textarea", id="bodyfield") }}</div>
        <p id="perror">
          {% for error in form.email.errors %}
          <span style="color: red; id="perror"">[{{ error }}]</span>
          {% endfor %}
        </p>
        <label for="textarea">{{ form.password.label }}</label>
        <div>{{ form.password(size=40, class="textarea", id="bodyfield") }}</div>
        <p id="perror">
          {% for error in form.username.errors %}
          <span style="color: red; id="perror"">[{{ error }}]</span>
          {% endfor %}
        </p>
        <label for="textarea">{{ form.password.label }}</label>
        <div>{{ form.password2(size=40, class="textarea", id="bodyfield") }}</div>
        <p id="perror">
          {% for error in form.password2.errors %}
          <span style="color: red; id="perror"">[{{ error }}]</span>
          {% endfor %}
        </p>
        <div>{{ form.submit(class = "button", id = "button") }}</div>
    </form>
{% endblock %}
