
{% macro render_post(src) %}
  <table>
    <table>
      <tr>
        <td>
          <img src="{{ src.author.avatar(48) }}"><br>
        </td>
        <td>
          <a  id="inline-hyper" href="{{ url_for('user', username=src.author.username) }}">{{ src.author.username }}</a>
        </td>
        <td>
          posted on: {{ src.timestamp | castdate }}
        </td>
        <td>
          <button class='upvote' type='submit' value = 1></button>
          <button class='downvote' type='submit' value = 1></button>
        </td>
      </tr>
    </table>
    <table>
      <tr>
          <td><b>{{ src.title }}<b></td>
      </tr>
      <tr>
          <td>{{ src.body }}</td>
      </tr>
    </table>
  <table>
  <br>
{% endmacro %}
