<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
    <head>
        {% if title %}
        <title>Welcome to {{ title }}</title>
        {% else %}
        <title><b><sup>ab</sup>log</b></title>
        {% endif %}
    </head>
    <body>
      <ul>
        <li><b><sup>ab</sup>log</b>::</li>
        {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('index') }}">home</a></li>
            <li><a href="{{ url_for('login') }}">login</a></li>
        {% else %}
          <li><a href="{{ url_for('index') }}">new post</a></li>
          <li><a href="{{ url_for('browse') }}">browse</a></li>
          <li><a href="{{ url_for('user', username = current_user.username) }}">profile</a></li>
          <li><a href="{{ url_for('logout') }}">logout</a></li>
          {% endif %}
      </ul>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </body>
</html>
