{% extends "base.html" %}

{% block content %}
    <h4>edit profile</h4>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <label for="textarea">username</label>
        <div>{{ form.username(size=32, class="textarea", id="bodyfield") }}
        <p>
          {% for error in form.username.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <label for="textarea">description</label>
        <div>{{ form.about_me(size=50, cols = 48, rows = 4, class="textarea", id="bodyfield") }}
        <p>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div>{{ form.submit(class = "button", id = "button") }}</div>
    </form>
{% endblock %}
