{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <h4>edit profile</h4>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>{{ render_field(form.full_name, class="textarea", id="bodyfield") }}</div>
        <div>{{ render_field(form.username, class="textarea", id="bodyfield") }}</div>
        <div>{{ render_field(form.email, class="textarea", id="bodyfield") }}</div>
        <div>{{ render_field(form.about_me, rows = 4, class="textarea", id="bodyfield") }}</div>
        <div>{{ form.submit(class = "button", id = "button") }}</div>
    </form>
{% endblock %}
