{% extends "base.html" %}

{% block content %}
    <h4>welcome back, {{ current_user.username }}</h4>
    <form action = "" method = "post">
      {{ form.hidden_tag() }}
      <fieldset>
        <legend>new <b><sup>ab</sup>log</b> post</legend>
          <label for="textarea">title</label>
          <div>{{ form.title(size = 50, cols = 48, rows = 1.5, placeholder = "your title here...", class="textarea", id = "titlefield") }}</div>
          <label for="textarea">body</label>
          <div>{{ form.body(size = 512, cols = 48, rows = 15, placeholder = "your blog post here...", class="textarea", id = "bodyfield") }}</div>
          <div>{{ form.submit(class="button", type = "button") }}</div>
      </fieldset>
    </form>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}
