{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

    <h4>Sign In</h4>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div>{{ render_field(form.username) }}</div>
      <div>{{ render_field(form.password) }}</div>
      <div><span>{{ form.remember_me() }}</span> <span>{{ form.remember_me.label }}</span></div>
      <div>{{ form.submit(class = "button", id = "button") }}</div>
      <div>New to <b><sup>ab</sup>log</b>? <a id='inline-hyper' href="{{ url_for('register') }}"> Click to Register!</a></div>
    </form>

{% endblock %}
