{% extends "base.html" %}

{% block content %}
  <table>
    <tr>
      <td><img src="{{ user.avatar(228) }}"></td>
      <td>
        <h4>{{ user.username }}</h4>
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        {% if user.last_seen %}<p>Last active: {{ user.last_seen }}</p>{% endif %}
      </td>
      <td>
        {% if user == current_user %}
        <button type="submut"><a href="{{ url_for('edit_profile') }}">Edit profile</a></button>
        {% endif %}
      </td>
    </tr>
  </table>
  <h2>Your posts...</h2>
  <hr>
  {% for post in posts %}
      {% include '_post.html' %}
  {% endfor %}
  {% if prev_url %}
  <a href="{{ prev_url }}">Newer posts</a>
  {% endif %}
  {% if next_url %}
  <a href="{{ next_url }}">Older posts</a>
  {% endif %}
{% endblock %}
