{% extends "base.html" %}
{% from "_post.html" import render_post %}

{% block content %}
  <table>
    <tr>
      <td valign="center"><img src="{{ user.avatar(228) }}"></td>
      <td>
        <h4>{{ user.username }}</h4>
        {% if user.full_name %}<p><b>Name:</b> {{ user.full_name }}</p>{% endif %}
        {% if user.last_seen %}<p><b>Last active:</b> {{ user.last_seen }}</p>{% endif %}
        {% if user.about_me %}<p><b>About {{ user.username }}:</b> <br>{{ user.about_me }}</p>{% endif %}
      </td>
      <td>
        {% if user == current_user %}
        <div class="button"><a href="{{ url_for('edit_profile') }}">Edit profile</a></div>
        {% endif %}
      </td>
    </tr>
  </table>
  <h4> Posts by <a href="{{ url_for('user', username=user.username) }}">{{ user.username }}</a>:</h4>
  <hr>
  {% for post in posts %}
      {{ render_post(post) }}
  {% endfor %}
  {% if prev_url %}
  <a href="{{ prev_url }}">Newer posts</a>
  {% endif %}
  {% if next_url %}
  <a href="{{ next_url }}">Older posts</a>
  {% endif %}
{% endblock %}
